<header>
    <div class="head-title">
        <h4><%= config.title %></h4>
    </div>
    <div class="head-action">
        <div class="toggle-btn"></div>
        <div class="light-btn"></div>
        <div class="search-btn"></div>
    </div>
    <form class="head-search" method="post">
        <input type="text" name="s" placeholder="搜索什么？">
    </form>
    <nav class="head-menu">
        <a href="<%= url_for() %>">首页</a>
        <div class="has-child">
            <a>友链</a>
            <div class="sub-menu">
	            <a href="https://www.cnblogs.com/imcaigou">ALnAYuLvM</a>
              <a href="https://www.cnblogs.com/BINYU">BINYU</a>
              <a href="https://www.cnblogs.com/creeperl">Creeper_l</a>
              <a href="https://www.cnblogs.com/kxwenorz">Kowenxrz</a>
              <a href="https://www.cnblogs.com/MrcFrst-LRY">MrcFrst_LRY</a>
              <a href="https://www.cnblogs.com/Pengzt">Pengzt</a>
              <a href="https://www.cnblogs.com/structsec">Struct_Sec</a>
              <a href="https://www.cnblogs.com/sunsetlake">SunsetLake</a>
              <a href="https://www.zigao.ac">Zi_Gao</a>
              <a href="https://www.cnblogs.com/zjc2008">zjc2008</a>	
            </div>
        </div>
        <% for (var i in theme.menu){ %>
            <a href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
        <% } %>
    </nav>
</header>
